<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(isiOS) {%>

        <a href="itms-apps://apps.apple.com/us/app/primopay/?postId=<%= postId %>" id="venderProfile"></a>
        <% } else { %>
            <a href="intent:#Intent;scheme=beemz://com.beemz.elaunch;package=in.amazon.mShop.android.shopping;end"
                id="venderProfile">link</a>

            <% } %>
                <script>
                    setTimeout(function () {
                        document.getElementById("venderProfile").click();
                    }, 1000);
                </script>
</body>

</html>